/* fonts panel */
@font-face {
    font-family:'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Federo-Regular';
  src: url('../fonts/Federo-Regular.eot');
  src: url('../fonts/Federo-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Federo-Regular.woff') format('woff'),
       url('../fonts/Federo-Regular.ttf') format('truetype'),
       url('../fonts/Federo-Regular.svg#Federo-Regular') format('svg');
}

/* global panel */
body { overflow-x:hidden; background-color: #fff; font-family: "Federo-Regular", Arial, sans-serif; font-size: 18px; color: #4c4c4c; -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */ -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */ }
h1 { font-family: "BebasNeueRegular", Arial, sans-serif; font-size: 42px;}
a {color:#fed136;}
a:hover, a:active, a:focus { outline: 0; color: #fff; text-decoration: none; }
.m-button { margin-top: 5em; } .m-button-top { margin-top: 1.58em; } .p-bottom { padding-bottom: 3em; } .p-bottom-5 { padding-bottom: 6em !important; } .m-img-top { margin-top: 1.4em; }
.padl1 { padding-left: 2em !important; }
.n-mar-tb { margin-top: -1em; margin-bottom: -1em }
.n-mar-b { margin-bottom: -1em; }
.zpb { z-index: 2; position: relative; background-color: #fff; }
.zp { z-index: 2; position: relative; }
.z1 { z-index: 1;}
label { font-weight: normal; margin-bottom: 7px; }

.glyphicon { margin-bottom: 2em; vertical-align: middle; }
a .glyphicon { color: #4c4c4c;font-size: 1.1em; } a:hover .glyphicon { color: #f16529; }

#header { text-align: center; padding-top: 4em; padding-bottom: 2em; min-height: auto; z-index: 2; position: relative; }
#header .caption { padding-top: 8%; z-index: 1; position: relative; } #header .caption-sub { padding-top: 5%; padding-bottom: 2em;}
#header .caption h1, #header .caption-sub h1 { color:#fff; font-size: 88px!important;}  #header .caption span, #header .caption-sub span { color: #fff; font-family: "Federo-Regular", sans-serif; font-size: 48px; line-height: 1em;  } 

#header .grid, #caption { position: absolute; left: 10%; top: 10%; right: 10%; color: #fff; } #caption h1 { font-size: 3em; margin-bottom: 0.5em; margin-top: 0em; } #caption span { font-size: 24px; } .arrow { float: right; margin-top:1.5em; }
.wrap { width: 80%; margin: 0 auto; }
@media only screen and (max-width: 1600px) {
	#header .caption h1, #header .caption-sub h1 {font-size: 78px !important} 
	#header .caption span, #header .caption-sub span {font-size: 30px; } 
	
	#caption h1 { font-size: 2em; } #caption span { font-size: 20px; }
	.prx-b, .prx-t, .prx-l, .prx-r { position:static!important; }
	
}
@media only screen and (max-width: 1280px) {
	#header .caption h1, #header .caption-sub h1 { font-size: 68px !important;} #header .caption span, #header .caption-sub span { font-size: 24px!important; } 
    #mice { padding-top: 3em !important;}
	#header, #technical { background: url(../img/slide-2.jpg) top center no-repeat!important; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: auto!important;  }
	.wrap { width: inherit !important; } .card-m { padding: 2em!important;}
	#caption h1 { font-size: 2em; } #caption span { font-size: 14px; }
	#back-top { display: none !important; }
	.padl1 { padding: 0!important; }
	.hde { display: none; }
	
}
@media only screen and (max-width: 800px) {
	#caption h1 { font-size: 1.8em; margin-bottom: 0em; margin-top: 0em;} #caption span { font-size: 12px; } 
	#header { min-height: auto!important; }  #header .caption { padding-top: 11%!important; } .m-button { margin-top: 4em!important; }
	#header .caption span, #header .caption-sub span {font-size: 20px; } 
	#body { text-align: justify !important; } #body h1 { text-align: center!important; }
}
@media only screen and (max-width: 640px) {
	 #caption h1 { font-size: 3em; margin-bottom: 0.2em; margin-top: 0em; } #caption span { font-size: 22px; }
	 #header .caption span, #header .caption-sub span {font-size: 16px; } 
	 .hde-social { display: none; } 
}
@media only screen and (max-width: 480px) {
	 #caption h1 { font-size: 3em; margin-bottom: 0.5em; margin-top: 0em; } #caption span { font-size: 16px; }
	 .ghost-button  { margin-bottom: 1em; } .m-button { margin-top: 2em!important; } 
	  #mice { padding-top: 2em!important;}
	  #header { background: url(../img/slide-3.jpg) top center no-repeat!important; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover!important; min-height: auto!important;  }  
	  #header .caption span, #header .caption-sub span {font-size: 12px; } 
}
@media only screen and (max-width: 320px) {
	 #caption h1 { font-size: 2em; margin-bottom: 0.2em; margin-top: 0em; } #caption span { font-size: 16px; }
	 #header .caption span, #header .caption-sub span {font-size: 10px; } 
}

.bgblue { background-color: #0daad0; }
.bgorange { background-color: #fa8144; }
.bgtosca { background-color: #1fa67a; }
.bggray { background-color: #3f3f3f; } .gray {  color: #3f3f3f}
.bgwhite { background-color: #fff!important; }

.form-control, .btn { border-radius: 0!important; box-shadow: none !important}
input, textarea { -moz-border-radius: 0px; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;}
.text-danger { font-size: 12px!important;  margin-top: 0.5em; } .alert-success { font-size: 14px!important; text-align: center!important; }
.btn-default { background-color: #18aacf; border: 0; color: #fff; font-family: "BebasNeueRegular", Arial, sans-serif; font-size: 30px; padding: 0.3em 1em 0.2em 1em; }

#technical { text-align: center; padding-top: 2em; padding-bottom: 2em; margin-top: -0.05em; z-index: 3; position: relative;} #technical h1 { color:#fff; margin-top: 0.8em;} #technical i { color:#fff;} #technical img { margin-top: 1em; } #technical span { display: block; font-size: 1.5em; color: #fff; font-family: "BebasNeueRegular", Arial, sans-serif; text-align: center; margin-top: 0.3em; }
#work { text-align: center; padding-top: 2em; padding-bottom: 4em; } #work h1 { color:#18aacf;} #work img { max-width: 100%; }
#about {background-color: #f5f5f5; text-align: justify;} #about h1 { color:#18aacf;}  #about a { color: #242424; } #about a:hover { color: #f46518; }
#about .profile { margin-top: -5em; }
#call {background-color: #1cbbb4; text-align: center;  padding-top: 1em; padding-bottom: 1.5em; float: left;}  #call h1 { color:#fff; display: inline-block;} #call span { float: left; padding-top: 0.16em; margin-right: 0.7em }
@media only screen and (max-width: 800px) {
	#call span { float: none; margin-right: 0em; margin-bottom: 0.3em; display: inline-table; width: 100%; overflow: auto;} 
}
#footer { text-align: center;  padding-top: 2em; padding-bottom: 2em; background-color: #fff;} #footer .pad { padding: 0.5em 0 0 0; }
#disclaimer { font-size: 0.7em; text-align: center;  padding-bottom: 4em; background-color: #fff;}

ul.social-buttons { margin-bottom: 0;}
ul.social-buttons li a {display: block; background-color: #222; padding-top: 10px; height: 40px; width: 40px; border-radius: 100%; font-size: 20px; line-height: 40px; color: #fff; outline: 0; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active { background-color: #1cbbb4; }

/* hacks for browser */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .prx-b, .prx-t, .prx-l, .prx-r { position:static!important; }
}
@media screen and (min-color-index:0)
   and(-webkit-min-device-pixel-ratio:0) { @media {
    .prx-b, .prx-t, .prx-l, .prx-r { position:static!important; }
}}

/* slider panel */
@-webkit-keyframes slidy { 0% { left: 0%; } 20% { left: 0%; } 25% { left: -100%; } 45% { left: -100%; } 50% { left: -200%; } 70% { left: -200%; } 75% { left: -300%; } 95% { left: -300%; } 100% { left: -400%; } }
@-moz-keyframes slidy { 0% { left: 0%; } 20% { left: 0%; } 25% { left: -100%; } 45% { left: -100%; } 50% { left: -200%; } 70% { left: -200%; } 75% { left: -300%; } 95% { left: -300%; } 100% { left: -400%; } }
@-o-keyframes slidy { 0% { left: 0%; } 20% { left: 0%; } 25% { left: -100%; } 45% { left: -100%; } 50% { left: -200%; } 70% { left: -200%; } 75% { left: -300%; } 95% { left: -300%; } 100% { left: -400%; } }
@keyframes slidy { 0% { left: 0%; } 20% { left: 0%; } 25% { left: -100%; } 45% { left: -100%; } 50% { left: -200%; } 70% { left: -200%; } 75% { left: -300%; } 95% { left: -300%; } 100% { left: -400%; } }

@-webkit-keyframes slidy2 { 100% { left: -400%; } 95% { left: -300%; } 75% { left: -300%; } 70% { left: -200%; } 50% { left: -200%; } 45% { left: -100%; } 25% { left: -100%; } 20% { left: 0%; } 0% { left: 0%; } }
@-moz-keyframes slidy2 { 100% { left: -400%; } 95% { left: -300%; } 75% { left: -300%; } 70% { left: -200%; } 50% { left: -200%; } 45% { left: -100%; } 25% { left: -100%; } 20% { left: 0%; } 0% { left: 0%; } }
@-o-keyframes slidy2 { 100% { left: -400%; } 95% { left: -300%; } 75% { left: -300%; } 70% { left: -200%; } 50% { left: -200%; } 45% { left: -100%; } 25% { left: -100%; } 20% { left: 0%; } 0% { left: 0%; } }
@keyframes slidy2 { 100% { left: -400%; } 95% { left: -300%; } 75% { left: -300%; } 70% { left: -200%; } 50% { left: -200%; } 45% { left: -100%; } 25% { left: -100%; } 20% { left: 0%; } 0% { left: 0%; } }

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0 !important;
  animation: 30s slidy infinite; -webkit-animation: 30s slidy infinite; -moz-animation: 30s slidy infinite; -o-animation: 30s slidy infinite;
  animation: 30s slidy2 infinite; -webkit-animation: 30s slidy2 infinite; -moz-animation: 30s slidy2 infinite; -o-animation: 30s slidy2 infinite;
}

/* hover div panel */
	/* SET NO PADDING ON GRID */
.no-space, .grid {
	padding: 0;
	overflow:hidden;
}

	/* MAX WIDTH OF 100% FOR RESPONSIVE IMAGES + TRANSITIONS SET FOR BROWSERS */
.grid a img {
	max-width: 100%;
	opacity: 1;
	-webkit-transition: all 7s;
	-moz-transition: all 7s;
	transition: all 7s;
}

	/* REDUCE OPACITY AND SCALE UP IMAGE ON HOVER */
.grid:hover a img {
	transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

	/* HIDE TEXT OVERLAY */
.text-overlay {
	display: none;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 0;
}

	/* PUTS H1 IN CENTER OF IMAGE, MAY NEED TO ADJUST PERCENTAGE TO SUIT IMAGE SIZE */
.text-overlay h1:before {
  content: "";
  display: block;
  padding-bottom: 30%;
}

	/* REVEAL TEXT OVERLAY WHEN GRID IS HOVERED OVER */
.grid:hover .text-overlay {
	display: block;
}

/* mice panel */
#mice { margin: 0 auto; padding-bottom: 8em;  padding-top: 5.5em; text-align: center; width: 20px; height: 9px; }

#mice span
{
  display: block;
  width: 9px;
  height: 9px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 5px 0 3px 6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse
{
height: 30px;
width: 22px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 7px auto;
  background: white;
  position: relative;
}

.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}
@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* navigation */
.navbar-default{
	background-color: #fff;
	border-color: transparent;
}
.navbar-default .navbar-brand{
	color: #fed136;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:active {
	color: #fec503;
}
.navbar-default .navbar-collapse{
	border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle {
	background-color: #fff;
	border-color: #1cbbb4;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #9a9c9c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #1cbbb4;
}
.navbar-default .nav li a {
	font-weight: 400;
	letter-spacing: 1px;
	color: #18aacf;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	color: #a6e5e6;
	outline: 0;
}
.navbar-default .navbar-nav>.active>a{
	border-radius: 0;
	color: #fff;
	background-color: #18aacf;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #1cbbb4;
}
@media (min-width: 768px) {
	.navbar-default{
		background-color: #fff;
		padding: 5px 0px;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		border: 0;
	}
	.navbar-brand {
		float: left;
		padding: 0px 15px;
		line-height: 20px;
	}
	.navbar-brand > img {
		display: inline-block;
		height: 50px;
		width: 50px;
		position: absolute;
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px;
	}
	.navbar-default .navbar-shrink{
		background-color: #222;
		padding: 10px 0;
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}

/*typing animation panel*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*button panel */
.ghost-button {
    color: #fff;
    background: none;
    border: 2px solid #fff;
    font-size: 24px;
    padding: 9px 30px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "Federo-Regular", Arial, sans-serif;
    min-width: 120px;
	text-transform: uppercase;
	display: inline-block;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background: none;
  text-decoration: none;
  opacity: 0.8;
}

.ghost-button-sub {
    color: #4c4c4c;
    background: none;
    border: 1px solid #4c4c4c;
    font-size: 16px;
    padding: 9px 30px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "Federo-Regular", Arial, sans-serif;
    min-width: 120px;
	text-transform: uppercase;
	display: inline-block;
}

.ghost-button-sub:hover, .ghost-button-sub:active {
  color:#f16529;
  border: 1px solid #f16529;
  background: none;
  text-decoration: none;
}

/* Scroll Top Panel */
#back-top {
	position: fixed;
	bottom: 45px;
	right: 30px;
	z-index: 10;
}
#back-top a {
	width: auto;
	display: block;
	text-align: center;
	font: 10px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 0px; 
	color: #dadada;
}
#back-top a:hover {
	color: #bebebe;
}
/* arrow icon (span tag) */
#back-top span {
	width: 25px;
	height: 25px;
	display: block;
	margin-bottom: 0;
	background: url(../img/top-arrow.png) no-repeat center center;
}
#back-top a:hover span {
	background-color: none;
}